name: CI/CD

on:
  push:
    branches: [main, master]
    paths-ignore:
      - README.md
  pull_request:
    branches: [main, master]
    paths-ignore:
      - README.md

jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup MSBuild.exe
        uses: microsoft/setup-msbuild@v2

      - name: Restore dependencies
        run: |
          msbuild 1.5\Source\RimTerra.sln /t:Restore /p:Configuration=Release
          msbuild 1.6\Source\RimTerra.sln /t:Restore /p:Configuration=Release

      - name: Build assemblies
        run: |
          msbuild 1.5\Source\RimTerra.sln /t:Build /p:Configuration=Release
          msbuild 1.6\Source\RimTerra.sln /t:Build /p:Configuration=Release

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: RimTerra
          path: |
            1.5\Assemblies
            1.5\Defs
            1.5\Languages
            1.5\Patches
            1.6\Assemblies
            1.6\Defs
            1.6\Languages
            1.6\Patches
            About\About.xml
            About\Preview.png
            Textures\**\*.png